.pages {
  padding-top: 4%;
  background-color: #f7f9fb;
}

.full_page {
  height: 100vh;
  flex-wrap: nowrap !important;
  justify-content: flex-start;
}
.side_menu {
  flex: 1;
}
.all_body {
  min-height: 100vh;
  flex-direction: column;
  flex-grow: 2;
  padding-left: 2%;
  flex-wrap: nowrap !important;
}
