.navi {
  padding: 0;
  background-color: #f7f9fb;
  align-items: end;
  justify-content: flex-end;
}
.navi_item {
  padding: 1%;
}
.appbar_css {
  box-shadow: none;
}

.zeni_header_logo {
  width: 125px;
  height: 60px;
  margin-top: 15px;
}
.avatar {
  width: 34px;
  height: 34px;
  border: solid 1px #95989a;
}
.notification_icon {
  color: black;
}
