.separator {
  display: flex;
  align-items: center;
  text-align: left;
}

.separator::after {
  content: "";
  flex: 1;
  border-bottom: 0.5px solid #9e9e9e;
}
.separator:not(:empty)::after {
  margin-left: 0.25em;
}
