@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap");
.side_menu {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
  box-shadow: 2px 0 4px 0 rgba(0, 0, 0, 0.08);
  flex-direction: column;
}
.logo_div {
  padding-bottom: 16%;
  width: 100%;
  vertical-align: middle;
  text-align: center;
}
.side_menu_div {
  text-decoration: none;
  width: 100%;
  height: 58px;
  padding: 0 82px 0 0;
  vertical-align: middle;
}
.side_menu_div_link {
  text-decoration: none;
}
.side_menu_div_button {
  width: 100%;
  padding-left: 16px;
  justify-content: start;
}
.side_menu_div_button:hover {
  background-color: #ffffff;
  color: #ff1b3a;
}
.side_menu_div_button:onclick {
  background-color: #ffffff;
}
.side_menu_div_text {
  text-transform: none;
  position: relative;
  left: 20px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
}
.icon {
  height: 24px;
  width: 24px;
  fill: currentColor;
}
