.combobox_container {
  width: 100% !important;
}
.combobox {
  width: 100%;
  height: 100%;
}
.list_box {
  width: 100%;
  height: 70%;
  list-style: none;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1%;
}
.list_box:li {
  padding: 5px 12px;
}
.list_box:li[data-focus="true"] {
  background-color: #e6f7ff;
  cursor: pointer;
}

.tag_body {
  font-size: 16px;
  line-height: 1.38;
  text-align: left;
  padding: 9px 8px 7px;
  margin: 4px;
  border-radius: 2px;
  border: solid 1px #ff1b3a;
  background-color: rgba(255, 27, 58, 0.1);
  display: inline-block;
  flex-grow: 1;
  color: #ff1b3a;
}

.tag_icon {
  color: #ff1b3a;
}
