.redButtonDecorations {
  text-transform: none;
  text-decoration: none;
  padding: 12px 23px 12px 23px;
  font-size: 16px;
  line-height: 23px;
}
.redFilled {
  background-color: #ff1b3a;
  color: white;
}
.redFilled:hover {
  background-color: #ff1b3a;
}
.outlinedVariantDecorations {
  text-transform: none;
  text-decoration: none;
  padding: 12px 23px;
  font-size: 16px;
  line-height: 23px;
}
.outlinedVariant {
  background-color: inherit;
  color: red;
  font-weight: bold;
  border-color: #ff1b3a;
}
.outlinedVariant:hover {
  background-color: #f7f9fb;
}
